<div>
  <h1 class="text-center">Images</h1>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Imagem</th>
      <th scope="col">Ações</th>
    </tr>
    </thead>

    <tbody>
    <% @images.each do |image| %>
      <tr>
        <th scope="row"><%= image.title %></th>
        <td><%= image_tag url_for image.file.representation(resize_to_limit: [52, 52]) %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Detalhes', image, class: 'btn btn-primary' %>
            <%= link_to 'Editar', edit_image_path(image), class: 'btn btn-warning' %>
            <%= link_to 'Deletar', image, method: :delete, data: { confirm: 'Certeza?' }, class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <hr>

  <%= link_to 'Nova imagem', new_image_path, class: 'btn btn-primary float-right' %>
</div>
